
<a href="/add-faculty" class="btn btn-primary btn-sm mx=3 my=1 mb=4">Add Faculty</a>
<a href="/all-faculty" class="btn btn-secondary btn-sm mx=3 my=1 mb=4">View All Faculty</a>
<a href="/add-student" class="btn btn-success btn-sm mx=3 my=1 mb=4">Add Student</a>
<a href="/all-student" class="btn btn-danger btn-sm mx=3 my=1 mb=4">View All Student</a>
<a href="/add-course" class="btn btn-warning btn-sm mx=3 my=1 mb=4">Add Course</a>
<a href="/all-course" class="btn btn-info btn-sm mx=3 my=1 mb=4">View All Course</a>
<a href="/add-subject" class="btn btn-secondary btn-sm mx=3 my=1 mb=4">Add Subject</a>
<a href="/all-subject" class="btn btn-dark btn-sm mx=3 my=1 mb=4">View All Subject</a>



