{% extends 'base.html' %}
{% block title %} AddSubject {% endblock title %}
{% block body %}

<div class="container my-3">
    <h2>Add Subject
        {% include 'aa_nav.html' %}
    </h2>
    <form action="/add-subject" method="POST">
        <div class="mb-3">
            <label for="sub_id" class="form-label">Subject Id</label>
            <input type="text" class="form-control" name="sub_id" id="sub_id"
                placeholder="Enetr Subject Id Sould be Unique">
        </div>

        <div class="mb-3">
            <label for="sub_name" class="form-label">Subject Name</label>
            <input type="text" class="form-control" name="sub_name" id="sub_name"
                placeholder="Enetr Course Id Sould be Unique">
        </div>

        
            <div class="mb-3">
                <select class="form-select" name="course_id" aria-label="Default select example">
                    <option selected>Select Course</option>
                    {% for course in allCourse %}
                    <option  value="{{course.course_id}}">{{course.course_name}}</option>
                    {% endfor %}
                </select>
            </div>
        

        
            <div class="mb-3">
                <select class="form-select" name="faculty_id" aria-label="Default select example">
                    <option selected>Select Faculty</option>
                    {% for faculty in allFaculty %}
                    <option  value="{{faculty.faculty_id}}">{{faculty.f_name}}</option>
                    {% endfor %}
                </select>
            </div>
        

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

{% endblock body %}
