{% extends 'base.html' %}
{% block title %} AllCourseDetails {% endblock title %}
{% block body %}

<div class="container my-3">
    <h2>Courses
        {% include 'aa_nav.html' %}
    </h2>

    {% if allCourse|length==0 %}
    <div class="alert alert-dark" role="alert">
        No Course
    </div>
    {% else %}
    <table class="table">

        <tbody>
            <thead>
                <tr>
                    <th scope="col">sno</th>
                    <th scope="col">course Id</th>
                    <th scope="col">Course Name</th>
                    <th scope="col">Course Description</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            {% for course in allCourse %}
            <tr>
                <th scope="row">{{loop.index}}</th>
                <td>{{course.course_id}}</td>
                <td>{{course.course_name}}</td>
                <td>{{course.course_desc}}</td>
                <td>
                    <a href="/update-course/{{course.course_id}}" type="button" class="btn btn-outline-warning btn-sm mx-1">Update</a>
                    <a href="/delete-course/{{course.course_id}}" type="button"
                        class="btn btn-outline-danger btn-sm mx-1">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    
    {% endif %}

{% endblock body %}