{% extends 'base.html' %}
{% block title %} Take Attendance {% endblock title %}
{% block body %}
<div class="container-fluid">
  {% for course in courseBio %}
  <form action="/attendance/{{course.course_id}}/{{course.sub_id}}" method="POST">
    <div class="container-fluid">

      <div class="card" style="margin:50px 0">
        
        <!-- Default panel contents -->
        <div class="card-header"><b>{{course.course_name}} - {{course.sub_name}}</b></div>
        {% endfor %}
        {% for student in allStudents %}

        <ul class="list-group list-group-flush">
          <li class="list-group-item"><b>Name</b> - {{student.f_name}} {{student.l_name}} 
                                    <b>Roll</b>  - {{student.stu_roll}}
            <label class="switch ">
              <input type="checkbox" name="check" value="{{student.stu_roll}}" class="danger">
              <span class="slider round"></span>
            </label>
          </li>
        </ul>
        {% endfor %}
      </div>

    </div>
    <button type="submit" class="btn btn-danger">Take</button>
  </form>

</div>

{% endblock body %}